:root{
    --accent-color-1: rgb(255,150,150);
    --accent-color-1-dark: rgb(255, 100, 100);
    --accent-color-2: rgb(150, 255, 150);
    --accent-color-2-dark: rgb(50, 255, 50);
    --accent-color-3: rgb(255, 255, 150);
    --accent-color-3-dark: rgb(255, 255, 100);
    --accent-color-4: rgb(255, 100, 255);
    --primary-color-1: rgb(255, 100, 255);
    --secondary-color-1: rgb(20,20,20);
    --primary-text-color: rgb(200, 200, 200);
    --alternate-text-color: rgb(20,20,20);
    --background-color-1: rgb(50,50,50);
    --background-color-2: rgb(100, 100, 100);
    --background-color-3: rgb(150, 150, 150);
}

*{
    /*border: 1px black solid;*/
}

body{
    background-color: var(--background-color-1);
    color: var(--primary-text-color)
}
#container {
    display:flex;
    gap: 10px;
}

#nav {
    padding-right: 10px;
    border-right: 1px var(--primary-color-1) solid;
}

.projectlist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 0;
}

.project {
    display: flex;
    height: 25px;
    
    
}

.projectbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px var(--primary-color-1) solid;
    box-shadow: 10px var(--primary-color-1);
    border-radius: 5px 25px 25px 5px;
    background-color: var(--background-color-1);
}

.projectbox:hover {
    background-color: var(--background-color-3);
    color: var(--secondary-color-1);
}

.name {
    margin: 0px;
    font-size: 1em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.delete {
    border-radius:25px;
    width: 25px;
    height: 25px;
    border: 1px var(--secondary-color-1) solid;
    background-color: var(--accent-color-1);
    font-weight: bold;
}

.delete:hover {
    background-color: var(--accent-color-1-dark);
}

#content {
    flex-grow: 4;
}

.projectview{
    display:flex;
    flex-direction: column;
    
}

.projecttitle{
    border-bottom: 1px var(--primary-color-1) solid;
}

.projectitems{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.item {
    padding: 10px;
    border: 1px var(--background-color-3) solid;
    border-radius: 10px;
}

.flag{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 0;
    border: 1px var(--secondary-color-1) solid;
    background-color: var(--accent-color-2);
    font-weight: bold;
}
.flag:hover{
    background-color: var(--accent-color-2-dark);
}

.delete_item{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 0;
    border: 1 var(--background-color-3);
    border: 1px var(--seconday-color-1) solid;
    background-color: var(--accent-color-1);
    font-weight: bold;
}
.delete_item:hover{
    background-color: var(--accent-color-1-dark);
}