:root{
    --accent-color-1: rgb(255,150,150);
    --accent-color-1-dark: rgb(255, 100, 100);
    --accent-color-2: rgb(150, 255, 150);
    --accent-color-2-dark: rgb(50, 255, 50);
    --accent-color-3: rgb(255, 255, 150);
    --accent-color-3-dark: rgb(255, 255, 100);
    --accent-color-4: rgba(255, 150, 255,0.5);
    --accent-color-5: rgb(100,150,255);
    --accent-color-5-dark: rgb(0,100,255);
    --primary-color-1: rgb(255, 100, 255);
    --secondary-color-1: rgb(20,20,20);
    --primary-text-color: rgb(200, 200, 200);
    --alternate-text-color: rgb(20,20,20);
    --background-color-1: rgb(50,50,50);
    --background-color-2: rgb(100, 100, 100);
    --background-color-3: rgb(150, 150, 150);
    --background-color-4: rgb(200, 200, 200);
}

body{
    background-color: var(--background-color-1);
    color: var(--primary-text-color)
}
#container {
    display:flex;
    gap: 10px;
}

#nav {
    padding-right: 10px;
    border-right: 1px var(--primary-color-1) solid;
}

.projectlist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 0;
}

.project {
    display: flex;
    gap: 10px;
    height: 25px;
    padding: 0 2px 0 0;
    border: 1px var(--background-color-3) solid;
    box-shadow: 2px 2px 2px var(--accent-color-4);
    border-radius: 5px 25px 25px 5px;
    background-color: var(--background-color-1);
}

.projectbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--accent-color-4);
    text-shadow: 0px 0px 10px var(--accent-color-4);
}

label {
    display: table-cell;
    text-align: left;
    gap: 5px;
    flex-grow: 1;
    font-weight: bold;
}

.item div {
    padding-left: 5px;
}

.name {
    margin: 0px;
    font-size: 1em;
    padding-left: 5px;
}

#content {
    flex-grow: 4;
}

.projectview{
    display:flex;
    flex-direction: column;
    
}

.projecttitle{
    border-bottom: 1px var(--primary-color-1) solid;
}

.projectitems{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.itemrow {
    display: table-row;
}

.item {
    padding: 10px;
    border: 1px var(--background-color-3) solid;
    box-shadow: 0px 0px 10px var(--accent-color-4);
    border-radius: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.item input{
    display: table-cell;
    height: 0.9em;
    font-size: 0.9em;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--accent-color-4);
    background-color: var(--background-color-4);
}

.item:hover {
    box-shadow: -4px -4px 10px var(--accent-color-4);
}

.itembox {
    display: table;
    border-spacing: 5px;
}

.itemcomplete {
    text-decoration: line-through;
}

.itemcontrol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 0;
    border: 1px var(--secondary-color-1) solid;
    box-shadow: 2px 2px 10px var(--accent-color-4);
    background-size: 16px;
    background-position: center;
}

button:hover {
    cursor: pointer;
    box-shadow: -4px -4px 10px var(--accent-color-4);
}

.additem {
    height: 102px;
    background-image: url('./img/add_icon.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    background-color: var(--accent-color-2);
}

.additem:hover{
    cursor: pointer;
    background-color: var(--accent-color-2-dark);
}

.add {
    width: 200px;
    background-image: url('./img/add_icon.png');
    background-color: var(--accent-color-2);
    align-self: center;
    background-repeat: no-repeat;
    margin: 20px 0;
}

.add:hover {
    background-color: var(--accent-color-2-dark);
}

.delete {
    background-image: url('./img/cross_icon.png');
    background-color: var(--accent-color-1);
    align-self: center;
}

.delete:hover {
    background-color: var(--accent-color-1-dark);
}

.flag{
    background-image: url('./img/check_icon.png');
    background-color: var(--accent-color-2);
}
.flag:hover{
    background-color: var(--accent-color-2-dark);
}

.edit{
    background-image: url('./img/gear_icon.png');
    background-color: var(--accent-color-3);
}
.edit:hover{
    background-color: var(--accent-color-3-dark);
}

.save{
    background-image: url('./img/save_icon.png');
    background-color: var(--accent-color-5);
}
.save:hover{
    background-color: var(--accent-color-5-dark);
}

.delete_item{
    background-image: url('./img/cross_icon.png');
    background-color: var(--accent-color-1);
}
.delete_item:hover{
    background-color: var(--accent-color-1-dark);
}